{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('items.edit_item', item_id=item.id) }}">Edit</a>
            <a href="{{ url_for('items.delete_item', item_id=item.id) }}">Delete</a>
            <a href="{{ url_for('catalogs.get_catalog', catalog_id=item.catalog_id) }}">Back</a>
        {% endif %}
    </div>
{% endblock %}